In [6]:
import pandas as pd

In [7]:
data = {'name': ['P. Lee', 'R. Jones', 'J. Smith', 'A. Patel', 'D. Trumph', 'G. George', 'J. Biden', 'N. Cook', 'P. Rice', 'J. Smith'],
        'age': [34, 41, 36, 39, 40, 72, 67, 56, 41, 49]}

In [8]:
df = pd.DataFrame(data)


df

        name  age
0     P. Lee   34
1   R. Jones   41
2   J. Smith   36
3   A. Patel   39
4  D. Trumph   40
5  G. George   72
6   J. Biden   67
7    N. Cook   56
8    P. Rice   41
9   J. Smith   49

In [22]:
#mode
df['age'].mode()

0    41
Name: age, dtype: int64

In [23]:
#median
df['age'].median()

41.0

In [24]:
#mean
df['age'].mean()

47.5

In [19]:
df = df.sort_values(by=['age'])
df.reset_index(drop=True, inplace=True)
df

        name  age
0     P. Lee   34
1   J. Smith   36
2   A. Patel   39
3  D. Trumph   40
4   R. Jones   41
5    P. Rice   41
6   J. Smith   49
7    N. Cook   56
8   J. Biden   67
9  G. George   72

In [20]:
#range
df['age'].max() - df['age'].min()

38

In [21]:
#variance
df['age'].var()

175.83333333333334